body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 100vh;

    color: #ECECEC;

    font-family: "Noto Sans", sans-serif;
}

.sidebar {
    background-color: #171717;
    min-height: 100%;
    padding-top: 40px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .list {
    flex-grow: 1;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
}

li {
    padding: 0px 12px;
}

.sidebar .list > li:hover {
    background-color: #2F2F2F;
    border-radius: 3px;
}

.footer {
    width: 100%;
    padding: 4px;

    display: flex;
    justify-content: center;
}

.sidebar .footer {
    border-top: #212121 solid 1px;
}

.content {
    background-color: #212121;
    min-height: 100%;
    /* padding: 40px 0;
    padding-bottom: 0; */

    /* display: flex;
    flex-direction: column;
    align-items: center; */
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    height: 100%;

    padding-top: 40px;

}

.project .header, 
.project .list {
    width: 80%;
}

.content .title {
    all: unset;
    width: 100%;
    display: block;
    cursor: default;
    color: inherit;

    font-size: 1.5em;
    font-weight: bold;
}

/* .content > * {
    width: 80%;
} */


.content .list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.content .list > li .header {
    display: flex;
    align-items: center;
    gap: 8px;
}

.task {
    padding: 4px 12px;
}

.task .title {
    all: unset;
    width: 100%;
    display: block;
    cursor: default;
    color: inherit;

    user-select: none;
    pointer-events: none;
}

.opened.task .title {
    cursor: text;
    pointer-events: all;
}

.task input[type="checkbox"] {
    appearance: none;
    width: 16px;
    height: 16px;
    position: relative;
    cursor: pointer;
    border: 1px solid #757575;
    background-color: #212121;
    border-radius: 4px;
}

.task input[type="checkbox"]::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #ECECEC;
    transform: translate(-50%, -50%) scale(0); /* Hidden by default */
    transition: transform 0.2s ease-in-out;
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.task input[type="checkbox"]:checked::before {
    transform: translate(-50%, -50%) scale(1); /* Show checkmark */
  }

.selected.task,
.opened.task {
    background-color: #2F2F2F;
    border-radius: 3px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(255, 255, 255, 0.1) inset;
}

.opened.task {
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 12px;
    margin-bottom: 12px;

    min-height: 40px;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

.details {
    display: none;
}


.opened .details {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.opened .details::before {
    content: "";
    display: block;
    padding: 5px;
}

.ghost {
    color: #ECECEC;
    width: 100%;
    min-height: 40px;
    resize: none; /* Disable manual resizing */
    overflow: hidden; /* Hide scrollbars */
    border: none;
    outline: none;
    font: inherit;
background: transparent;
}

.content .footer {
    border-top: #171717 1px solid;
}

.footer > button {
    background-color: inherit;
    border: none;
    padding: 0 3rem;
    text-align: center;

    color: #ECECEC;
}

.footer > button:hover {
    outline: #757575 solid 1px;
    border-radius: 5px;
}